body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/012/919/637/non_2x/abstract-blue-circle-on-black-background-technology-free-vector.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.navbar {
  margin: 70px 200px;
}

.btn{
    font-size:25px;
    margin:8px;
    color: aqua;
    font-family: "Sofia", sans-serif;
    text-shadow: 2px 2px 2px #ababab;
}
h1{
  color:rgb(255, 252, 252);
  font-size:40px;
  margin:50px 0px;
  font-family: Georgia, serif;
}
.image{
  margin-bottom: 10px;
  margin-top: 0px;
}
.ima{
  margin: 160px 200px;
}
span{
  color:aqua; text-shadow: 2px 2px 2px #ababab;
}
.head {
  font-size:40px;
  text-align: left;
  color:aqua;
  font-style: bold;
}
p {
  font-size:25px;
  text-align: justify;
  color:rgb(255, 255, 255);
  font-style: bold;
  margin:30px 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bottom{
  text-align: center;
  color:white;
  font-size:23px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom:50px;
}
.container{
  margin-bottom:40px;
}
.li{
  align-items: center;
  margin:20px 10px;
  color:white;
}
.box {
  background-color:white;
  width:105px;
  height:105px;
  border-radius: 15px;
  border:1px solid black;
  padding:15px;
}
.rounded {
  display:flex;
  justify-content:center;
}
.box1 {
  background-color:white;
  width:105px;
  height:110px;
  border-radius: 15px;
  border:1px solid black;display:flex;
}
.col-lg-1{
margin:15px;
}