body {
  background-image: url('https://i.makeagif.com/media/8-11-2018/jET9FZ.gif');
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.navbar {
  margin: 30px 70px;
}

.btn{
    font-size:20px;
    margin:8px;
}
h1{
  color:white;
  font-size:50px;
  margin:60px 30px;
}
.image{
  margin-bottom: 10px;
  margin-top: 45px;
}
.ima{
  margin: 110px 200px;
}
span{
  color:blue;
}
.head {
  font-size:40px;
  text-align: center;
  color:blue;
  font-style: bold;
}
p {
  font-size:22px;
  text-align: justify;
  color:white;
  font-style: italic;
  margin:30px 0px;
}
.bottom{
  text-align: center;
  color:white;
  font-size:22px;
  font-style: italic;
  margin-bottom:50px;
}
.container{
  margin-bottom:40px;
}
.li{
  align-items: center;
  margin:20px 10px;
  color:white;
}
.box {
  background-color:white;
  width:105px;
  height:105px;
  border-radius: 15px;
  border:1px solid black;
  padding:15px;
}
.rounded {
  display:flex;
  justify-content:center;
}
.box1 {
  background-color:white;
  width:105px;
  height:110px;
  border-radius: 15px;
  border:1px solid black;display:flex;
}
.col-lg-1{
margin:15px;
}